.home .home_content {
  border: 2px solid var(--color-ash);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.home .small {
  width: 146px;
  height: 146px;
  margin-right: 10px;
  border: 2px solid var(--color-bg-btn);
}

.home .content {
  width: 100%;
}
.home .content_header a {
  color: var(--color-primary);
  position: relative;
  bottom: 10px;
}

.home .post_date_category {
  width: 100%;
  background-color: var(--color-bg-btn);
  padding: 2px;
  border-radius: 10px;
}
.home .btn_post {
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid var(--color-bg);
}
.home .post_date {
  background-color: #535353;
  font-weight: 600;
  color: var(--color-white);
  border-radius: 10px 20px 20px 10px;
  padding: 7px 10px;
}
.home .post_category {
  list-style: none;
  margin-left: 20px;
  color: var(--color-ash);
}
.home .post_category span {
  margin-right: 10px;
  color: var(--color-light);
}
.home .post_category strong li {
  list-style: none;
}
.home .post_category strong a {
  text-decoration: underline;
  color: var(--color-ash);
  font-size: 15px;
  margin-right: 5px;
}
.home .content .post_short {
  font-size: 15px;
  margin-top: 5px;
}
/*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
@media screen and (max-width: 1024px) {
  .home .home_content {
    display: grid;
    flex-direction: column;
  }
  .home .small {
    margin-right: 0;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
  }
}

/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 600px) {
}
