* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  /* list-style: none; */
  text-decoration: none;
}
:root {
  --color-bg: #fff;
  --color-bg-variant: #b7d31a;
  --color-primary: #478515;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: #b4b4b4;
  --color-ash: #6c6c6c;
  --color-dark: #2e2e2e;
  --color-red: #e71856;
  --color-bg-btn: #e6e4e4;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 98%;
  --container-width-sm: 98%;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: sans-serif;
  /* background-image: url(../src/assets/banner.jpg); */
  background-attachment: fixed;
}
.header-container {
  width: var(--container-width-lg);
  background: var(--color-bg);
}
.app-container {
  width: var(--container-width-lg);
}

/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 20px;
  height: 50px;
  line-height: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

  transform: 0.5s;
  z-index: 5;
}
.control-btn .prev {
  left: 9px;
}
.control-btn .next {
  right: 9px;
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .prev:hover,
.control-btn .next:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  color: white;
  cursor: pointer;
}

.container {
  width: var(--container-width-lg);

  margin-top: 20px;
  margin-bottom: 2%;
  /* padding: 10px; */
}
.background {
  background: var(--color-bg);
}
.d_flex {
  display: flex;
  align-items: center;
}
.s_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f_flex {
  display: flex;
  justify-content: center;
}
.e_flex {
  display: grid;
  grid-template-columns: 75% 25%;
}
.n_flex {
  display: inline-flex;
  align-items: center;
}
.l_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  .e_flex {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    display: grid;
  }
  .e_flex {
    display: grid;
    grid-template-columns: 1fr;
  }
}
